<p>Pick a Machine</p>
<div class="row">
  <%= form_tag(new_order_path, method: "get") do %>
  <div class="6-small columns">
    <%= collection_select(:machine, :id, Machine.all, :id, :name) %>
  </div>
  <div class="6-small columns">
    <%= submit_tag "Submit", class: "button" %>
  </div>
<% end %>
</div>
