@import "variables";
.kit{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-width: 0;
  border: none !important;
}

.add-top {
  border-top: 4px solid $border-color;
}

.add_form_fields {
  &:hover {
    background: $link-hover;
  }
}


#needed-by {
  border-bottom: 1px solid $border-color;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5px;
}

#cost-object {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5px;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

}
#order_comment{
  height: 184px;
  box-shadow: none;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
#order_cost_object_id {
  letter-spacing: .5px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0px;
  background-color: white;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-left: 0px;
  &:hover {
    background: $link-hover;
  }
}

#status {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5px;
}
#order_needed_by {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5px;
  -webkit-box-shadow: none;
  letter-spacing: .5px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: white;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-left: 0px;
  &:hover {
    background: $link-hover;
  }
}
#comment{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5px;
  border-bottom: 1px solid $border-color;
}

#kitlabel {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5px;
}

.line {
  border-bottom: 1px solid $border-color;
  margin-bottom: 2.5em !important;
}

.info{
  text-transform: uppercase;
  font-family: $font-family;
  font-size: .9em !important;
  font-weight: 300;
  letter-spacing: .5px;
  margin-bottom: 2.5em !important;
}

.infolabel {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: .5em;
}

#order_status{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $font-family;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .5px;
    -webkit-box-shadow: none;
    letter-spacing: .5px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-left: 0px;
    &:hover {
      background: $link-hover;
    }
}

.button{
  background-color:  #00609D;
  &:hover {
    background: #006DB3;
  }
}

.edit {
  font-family: $font-family;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5px;
  -webkit-box-shadow: none;
  letter-spacing: .5px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: white;

}
